{{set . "title" "Home"}}
{{template "header.html" .}}
<center><h2>
   <strong >Уважаемые друзья!</strong>
</h2></center>
<div class="row">
    <div class="c-33"><img src="/public/img/h.jpg" class="img-shadow"></div>
    <div class="c-66 text-justify" style="font-size:.8em;">
<p>
Предлагая вашему вниманию инвестиционный проект «Земские просторы» мы, в первую очередь, стремимся к тому, чтобы наши клиенты могли реализовать собственную мечту. Думаю, у любого человека должна быть мечта. Стремление создать свой маленький мир, свой уголок уюта и комфорта – нормальное, естественное желание того, кто думает о своем будущем и будущем близких ему людей. 
<p>В проекте «Земские просторы» агентство недвижимости «Импульс К» предлагает участки под индивидуальное жилищное строительство в Смоленском районе. Участки располагаются в сформированных перспективных земельных поселках, с основной информацией о которых вы можете ознакомиться на нашей страничке</p>
<p>
<b>Что выгодно отличает «Земские просторы» от других подобных предложений?</b>
<ul>
<li>Во-первых, все продаваемые участки продаются от собственника, и мы не выступаем в качестве посредника.
<li>Во-вторых, участки полностью подготовлены для продажи под индивидуальное жилищное строительство.
<li>В-третьих, поселки уже имеют основные инженерные коммуникации и перспективы дальнейшего развития.
<li>В-четвертых, поселки находятся в непосредственной близости от Смоленска, располагаются вблизи транспортных коммуникаций. 
<li>И, самое главное, мы продаем участки по действительно демократическим ценам, причем с различными вариантами оплаты, в том числе и в рассрочку.
</ul>
Твой дом на твоей земле. Вы готовы сделать первый шаг навстречу своей мечте? Добро пожаловать на «Земские просторы»! 
<br>
<b>С уважением,
Сергей Эсальнек</b>
    </div>
  </div>

<div class="non-semantic-protector"> 
   <h2 class="ribbon"><strong class="ribbon-content">Карта коттеджных посёлков Смоленского Района</strong></h2>
</div>


  <div id="map" class="map" style="width:100%;height:400px;"></div>
        <div id="overmap" class="overmap hide">
  </div>

{{template "footer.html" .}}
