          <img src="{{imgurl .village.SchemaId "_300x300"}}" usemap="#myMap" class="img-responsive">
          <ul class="list">
              <li><a href="/{{.village.Slug}}">Информация</a></li>
              <li><a href="#project">Проект генерального плана</a></li>
              <li><a href="#">Топографическая карта поселка</a></li>
              <li><a href="/{{.village.Slug}}/kommunikacii">Коммуникации</a></li>
              <li><a href="#">Виртульная экскурсия</a></li>
              <li><a href="#">Фотографии</a></li>
          </ul>